<nav>
    <ul>
        <li>
            <a href="{{ path("menu")}}">Accueil</a>
        </li>
        <li>
            <a href="{{ path("menu")}}">Menu</a>
        </li>
        <li>
            <a href="{{ path("plat_index")}}">Plats</a>
        </li>
        <li>
            <a href="{{ path("category_index")}}">Catégories</a>
        </li>
        
    </ul>
</nav>