body{

    header{

        nav{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 9999;
            background-color: transparent;
            padding: calc(3rem / 2) 6rem;

            ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-style: none;

                li a {
                    margin: 0 1rem;
                    font-family: 'Open Sans Condensed', sans-serif;
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    border-bottom: 0.15rem dashed transparent;
                    text-decoration: none;
                }

                li i {
                    display: none;
                }
            }
        }
    }

    main{
        margin-top: 5rem;
    }
}